﻿@section css {
    <link href="@Url.Content("~/Content/css")" rel="stylesheet" />
}
<!--@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>-->
<div class="blue_circle"></div>
<div class="about_title">
    <p>About Us</p>
</div>
<div class="about_blurb">
    <p>Our goal is to help improve people’s communication though clear and accurate writing.
How do we achieve this you ask? Upload your work to Bulletproof. We will then use our highly experienced and passionate tutors to go through your work making suggestions via the Track Changes function in Microsoft Word. We look at 7 aspects of your writing plus make comments on areas that could be improved or explaining a mistake. You can learn more about this under @Html.ActionLink("'what we do'", "WhatWeDo", "Home", null, null).
It’s important to know what we don’t do, that is, edit content. When we say ‘content’ we are referring to any factual accuracies, such as dates, calculations, quotes and references. Written communication should be done in such a way that someone who is not an expert in the field can understand it.
We know you don’t have time to wait around for days hoping someone looks at your work, that’s why we pride ourselves on our bullet speed and accuracy!</p>
</div>
<div class="about_white_line"></div>
<div><p></p></div>
<div class="about_men"></div>
<div class="from_team_at">
    <p>FROM OUR TEAM AT</p>
</div>
<div class="about_bulletproof">
    <p>Bulletproof</p>
</div>