﻿@section css {
    <link href="@Url.Content("~/Content/css")" rel="stylesheet" />
}
@{
    ViewBag.Title = "Calculate";
}
@*<head>
<script language="javascript" type="text/javascript">
    function multiply()
    {
        a = Number(document.calculator.number1.value);
        b = 20;
        c = a*b;
        document.calculator.total.value=c;
    }
</script>
    </head>
<form name="calculator">

Number1:<input type="text" name="total">
Get Result <input type="text" name="total">
    <input type="button" value="MUL" onclick="javascript:multiply();">
    </form>*@
<div class="blue_circle"></div>
<div class="about_title">
    <p>Calculate</p>
</div>
<div class="about_blurb">
    <p>Calculate how much it will cost by entering the number of words in your assignment.</p>
    @{
        var totalMessage = "";
        if (IsPost)
        {
            var num1 = Request["text1"];
            var num2 = 20;
            var total = num1.AsInt() * num2;
            totalMessage = "Total =" + total;
        }
    }
    <form action="" method="post">
        <p>
            <label for="text1">Words</label><br>
            <input type="text" name="text1" />
        </p>
        <p><input type="submit" value="Calculate" /></p>
    </form>
    <p>@totalMessage</p>
</div>
</div>
<div class="about_white_line"></div>
<div class="Calculator"></div>
<div><p></p></div>