﻿
@{
    ViewBag.Title = "T&C - Bulletproof";
}

<div class="scrollable-container">
    <h2>Terms And Conditions</h2>

    <h2>Bulletproof Terms and Conditions</h2>

    <p>In using this website you are deemed to have read and agreed to the following terms </p>

    <p>and conditions:</p>

    <p>The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer Notice and </p>

    <p>any or all Agreements: &quot;Client&quot;, &ldquo;You&rdquo; and &ldquo;Your&rdquo; refers to you, the person accessing this website and accepting </p>

    <p>the Company&rsquo;s terms and conditions. &quot;The Company&quot;, &ldquo;Ourselves&rdquo;, &ldquo;We&rdquo; and &quot;Us&quot;, refers to our Company. &ldquo;Party&rdquo;, </p>

    <p>&ldquo;Parties&rdquo;, or &ldquo;Us&rdquo;, refers to both the Client and ourselves, or either the Client or ourselves. All terms refer to the </p>

    <p>offer, acceptance and consideration of payment necessary to undertake the process of our assistance to the </p>

    <p>Client in the most appropriate manner, whether by formal meetings of a fixed duration, or any other means, for the </p>

    <p>express purpose of meeting the Client&rsquo;s needs in respect of provision of the Company&rsquo;s stated services/products, </p>

    <p>in accordance with and subject to, prevailing English Law. Any use of the above terminology or other words in the </p>

    <p>singular, plural, capitalisation and/or he/she or they, are taken as interchangeable and therefore as referring to same.</p>

    <h2>Privacy Statement</h2>

    <p>We are committed to protecting your privacy. Authorised employees or contractors of the company, on a need to </p>

    <p>know basis only, may use any information collected from individual customers. </p>

    <h2>Confidentiality</h2>

    <p>Client records are regarded as confidential and therefore will not be divulged to any third party, other than to </p>

    <p>contractors of the company or Tertiary provides which the customer may attend or be attending at the time of </p>

    <p>submission, if required to do. Clients need to retain copies of all work uploaded onto our website. </p>

    <p>We will not sell, share, or rent your personal information including all document submitted via our website to </p>

    <p>any third party or use your e-mail address for unsolicited mail. Any emails sent by this Company will only be </p>

    <p>in connection with the provision of agreed services and products.</p>

    <h2>Payment</h2>

    <p>Paypal is used as our primary form of taking payment. Our Terms are payment in full at time of file submission unless </p>

    <p>arranged otherwise in writing. Monies that remains outstanding by the due date will incur late payment interest at the </p>

    <p>rate of 20% per month on the outstanding balance until such time as the balance is paid in full and final settlement. </p>

    <p>We reserve the right to seek recovery of any monies remaining unpaid sixty days from the date of invoice via </p>

    <p>collection Agencies and/or through the Small Claims Court. If the total amount exceeds $2,500, you shall be liable for </p>

    <p>any and all additional administrative and/or court costs. </p>

    <h2>Cancellation Policy</h2>

    <p>We reserve the right to levy a charge equal to that of the cost of the service to cover any subsequent administrative </p>

    <p>expenses.</p>

    <h2>Termination of Agreements and Refunds Policy</h2>

    <p>Both the Client and ourselves have the right to terminate any Services Agreement for any reason, including the </p>

    <p>ending of services that are already underway. No refunds shall be offered, where a Service is deemed to have begun </p>

    <p>and is, for all intents and purposes, underway. Any monies that have been paid to us which constitute payment in </p>

    <p>respect of the provision of unused Services, shall be refunded.</p>

    <h2>Links from this website</h2>

    <p>We do not monitor or review the content of other party&rsquo;s websites which are linked to from this website. Opinions </p>

    <p>expressed or material appearing on such websites are not necessarily shared or endorsed by us and should not </p>

    <p>be regarded as the publisher of such opinions or material.. This Company will not accept any responsibility for any </p>

    <p>loss or damage in whatever manner, howsoever caused, resulting from your disclosure to third parties of personal </p>

    <p>information.</p>

    <h2>Copyright Notice</h2>

    <p>Copyright and other relevant intellectual property rights exists on all text relating to the Company&rsquo;s services and the </p>

    <p>full content of this website. </p>

    <h2>Force Majeure</h2>

    <p>Neither party shall be liable to the other for any failure to perform any obligation under any Agreement which is due </p>

    <p>to an event beyond the control of such party including but not limited to any Act of God, terrorism, war, Political </p>

    <p>insurgence, insurrection, riot, civil unrest, act of civil or military authority, uprising, earthquake, flood or any other </p>

    <p>natural or man made eventuality outside of our control, which causes the termination of an agreement or contract </p>

    <p>entered into, nor which could have been reasonably foreseen. Any Party affected by such event shall forthwith inform </p>

    <p>the other Party of the same and shall use all reasonable endeavours to comply with the terms and conditions of any </p>

    <p>Agreement contained herein.</p>

    <h2>General</h2>

    <p>By accessing this website and using our services/buying our products you consent to these terms and conditions </p>

    <p>and to the exclusive jurisdiction of the courts in all disputes arising out of such access. If any of these terms are </p>

    <p>deemed invalid or unenforceable for any reason (including, but not limited to the exclusions and limitations set out </p>

    <p>above), then the invalid or unenforceable provision will be severed from these terms and the remaining terms will </p>

    <p>continue to apply. Failure of the Company to enforce any of the provisions set out in these Terms and Conditions and </p>

    <p>any Agreement, or failure to exercise any option to terminate, shall not be construed as waiver of such provisions </p>

    <p>and shall not affect the validity of these Terms and Conditions or of any Agreement or any part thereof, or the right </p>

    <p>thereafter to enforce each and every provision. These Terms and Conditions shall not be amended, modified, varied </p>

    <p>or supplemented except in writing and signed by duly authorised representatives of the Company.</p>

    <h2>Notification of Changes</h2>

    <p>The Company reserves the right to change these conditions from time to time as it sees fit and your continued use of </p>

    <p>the site will signify your acceptance of any adjustment to these terms. If there are any changes to our privacy policy, </p>

    <p>we will announce that these changes have been made on our home page and on other key pages on our site. If there </p>

    <p>are any changes in how we use our site customers&rsquo; Personally Identifiable Information, notification by e-mail will be </p>

    <p>made to those affected by this change. You are therefore advised to re-read this statement on a regular basis</p>

    <p>These terms and conditions form part of the Agreement between the Client and ourselves. Your accessing </p>

    <p>of this website and/or undertaking of a booking or Agreement indicates your understanding, agreement to </p>

    <p>and acceptance, of the Disclaimer Notice and the full Terms and Conditions contained herein. Your statutory </p>

    <p>Consumer Rights are unaffected.</p>

</div>

