﻿
@{
    ViewBag.Title = "WhatWeDo";
}



    <div class="scrollable-container">
        <h1>  What we do</h1>
    <p> Once you have uploaded your assignment, one of our experienced markers will check for:</p>
         <h3>Typographical errors</h3><p> (Typos. Eg: you have had a brain fart and do something dump like write the word right instead or wright )</p>
         <h3>Spelling</h3><p> (Correct spelling mistakes. By the way, we use British over US spelling unless otherwise requested)</p>
         <h3>Grammar and syntax</h3> <p>(This Includes correct sentence structure, tense and word usage. As well as dealing with commonly misused words: e.g., to, too and two; there and their; effect and affect; did and done; went and been; saw and seen; your and you’re; its and it’s. Correct use of the singular and plural: e.g., ‘none’ is a singular word and ‘data’ is a plural word); getting those pronouns correct (e.g., me, myself and I; she, her and hers; he, him and his); These are things spell-check programmes typically do not pick up.)</p>
          <h3>Punctuation</h3><p> (This includes, for example, use of the comma, semicolon and colon, and use of the apostrophe to denote possession or omission of a letter eg. She’s)</p>
          <h3>Word Choice</h3><p> (Suggest a more appropriate word)</p>
         <h3>Omissions</h3><p> (Adding in words that may have been missed. Or removal of words if they are not necessary or where they detract from what is being said)</p>
         <h3>Consistency</h3><p> of style and format (making sure that it all looks the same. If you are required to use a certain font and spacing, this is still your responsibility as we have know way of knowing.)</p>
         <h3>Comments</h3><p> (These can be extremely useful little gems. This could be a recommendation such as "I think this statement needs a reference")</p>
         <p>We will then return your work to you having used Track Changes on Microsoft Word. The changes are highlighted alongside the original and you will then need to accept the changes, learning from your mistakes in the process.</p>

         <h3>What we don’t do</h3><p> We are unable to take responsibility for the factual accuracy of your work including things like dates, calculations, figures, quotations, etc. Any seemingly obvious factual inaccuracies will be queried by us, but, ultimately, you must take responsibility in this area.</p>
    </p>
    </div>



