﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title BulletProof</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("css",false)
</head>
<body>
    <div class="main_nav">
        <div class="container">
            <div class="navbar_collapse_collapse">
                <ul class="nav_navbar_nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", null, new { @class = "white-link"})</li>
                    <li>@Html.ActionLink("My Account", "Index", "Manage", null, new { @class = "white-link" })</li>
                    <li>@Html.ActionLink("Calculate", "Calculate", "Home", null, new { @class = "white-link" })</li>
                    <li>@Html.ActionLink("What we do", "WhatWeDo", "Home", null, new { @class = "white-link" })</li>
                    <li>@Html.ActionLink("Testimonials", "Testimonials", "Home", null, new { @class = "white-link" })</li>
                    <li>@Html.ActionLink("About", "About", "Home", null, new { @class = "white-link" })</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="white_line"></div>
    <div class="blue_line"></div>
    <div class="contact_us">
        <p>Contact Us</p>
    </div>
    <div class="facebook_contact">
        <input type="image" src="/img/facebook_contact.png" name="saveForm" class="btTxt submit" id="saveForm"/>
    </div>
    <div class="phone_contact">
        <input type="image" src="/img/phone_contact.png" name="saveForm" class="btTxt submit" id="saveForm" />
    </div>
    <div class="email_contact">
        <input type="image" src="/img/email_contact.png" name="saveForm" class="btTxt submit" id="saveForm" />
    </div>
    <div class="bulletproof_logo">
        <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        @Html.ActionLink("BulletProof", "Index", "Home", null, new { @class = "navbar-brand" })-->
    </div>
    <div class="login_register">
        @Html.Partial("_LoginPartial")
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <!--<footer>
            <p>&copy; @DateTime.Now.Year - BulletProof</p>
        </footer>-->
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
