﻿body {
    /*padding-top: 50px;
    padding-bottom: 20px;*/
    background-color:#F3E7DA;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    /*padding-left: 15px;
    padding-right: 15px;*/
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/*css for the _Layout.cshtml and _LoginPartial.cshtml pages*/

.main_nav {
    position:fixed;
    top: 0px;
    left: 0px;
    float: left;
    width:24%;
    height:100%;
    background-image:url("/img/Blue-triangle.png");
    background-size:100% 100%;
    
}

@font-face {
    font-family: 'OstrichRegular';
    src: url("/fonts/ostrich-regular-webfont.ttf");
}

@font-face {
    font-family: 'honeyScript';
    src: url("/fonts/HoneyScript-SemiBold.ttf");
}

.navbar_collapse_collapse {
    position:fixed;
    top:120px;
}

.white_line {
    position:fixed;
    top:18%;
    left:1%;
    width:0.25%;
    height:65%;
    background-color:white;
}
.blue_line {
    position:fixed;
    top:98%;
    left:1.6%;
    width:96.8%;
    height:0.75%;
    background-color:#17273E;
}

.nav_navbar_nav li {
    padding-top:40%;
    list-style-type:none;
    font-family:"OstrichRegular";
    text-transform:uppercase;
    font-size:4vmin;

}

.white-link {
    color:white;
}

.bulletproof_logo {
    position:fixed;
    top:3.9%;
    left:14%;
    width:35%;
    height:9%;
    background-image:url("/img/logo.png");
    background-size: 100% 100%;
}

.contact_us {
    position:fixed;
    top:92.5%;
    left:71.2%;
    font-family:"OstrichRegular";
    text-transform:uppercase;
    font-size:30px;
    color:#17273E;
}

.facebook_contact {
    position:fixed;
    top:92.5%;
    left:83.3%;
}

.phone_contact {
    position:fixed;
    top:92.5%;
    left:88.8%;
}

.email_contact {
    position:fixed;
    top:92.5%;
    left:94.5%;
}

.register_link {
    position:fixed;
    top:4.4%;
    left:75.9%;
    width:24.3%;
    height:7.9%;
}

.login_link {
    position:fixed;
    top:3.9%;
    left:92.5%;
    width:6.6%;
    height:6.6%;
}

/*css for the Index.cshtml page*/
.how_it_works {
    position:fixed;
    top:56.3%;
    left:26.8%;
    font-family:"OstrichRegular";
    text-transform:uppercase;
    font-size:30px;
    color:#9B1519;
}

.works_infographic {
    position:fixed;
    top:63.6%;
    left:26.4%;
    width:70.9%;
    height:19%;
    background-image:url("/img/infographic.png");
    background-size:100% 100%;
}

/*css for the About.cshtml page*/

.blue_circle {
    position:fixed;
    top:23.5%;
    left:38.8%;
    width:35%;
    height:62.7%;
    background-image:url("/img/blue-circle.png");
    background-size: 100% 100%;
}

.about_title {
    position:fixed;
    top:35.4%;
    left:54.5%;
    font-family:"OstrichRegular";
    text-transform:uppercase;
    font-size:30px;
    color:#F3E7DA;
}

.about_white_line {
    position:fixed;
    top:40.2%;
    left:44%;
    width:24.3%;
    height:0.3%;
    background-color:#F3E7DA;
}

.about_blurb {
    position:fixed;
    top:41%;
    left:45.9%;
    width:390px;
    height:250px;
    color:white;
    font-family:"Arial";
    font-size:12px;
}

.about_men {
    position:fixed;
    top:67.3%;
    left:48.7%;
    width:8%;
    height:12%;
    background-image:url("/img/men_team.png");
    background-size: 100% 100%;
}

.from_team_at {
    position:fixed;
    top:70.1%;
    left:57.9%;
    width:186px;
    font-family:"OstrichRegular";
    font-size:25px;
    color:#F3E7DA;
}

.about_bulletproof {
    position:fixed;
    top:72.8%;
    left:57.9%;
    font-family:"honeyScript";
    font-size:30px;
    color:#F3E7DA;
}

/*
.about_bulletproof {
    position:relative;
    top:72.8%;
    left:82.6%;
    font-family:"honeyScript";
    font-size:30px;
    color:#F3E7DA;
}
*/
/*What we do*/

.headingWWD
{
     padding-top:70px;     
    
}

.scrollable-container {
    position:fixed;
    top:16.9%;
    left:25.3%;
    width: 790px;
    height: 560px;
    overflow-y: scroll;
    overflow-x:hidden;
}

/* Manage page */

.manage_heading {
    position:fixed;
    top:150px;
    left:250px;
}

.profile_shit {
    position:fixed;
    top:200px;
    left:300px;
}

.manage_file_submission{
    position:fixed;
    top:600px;
    left:600px;
}

/* login avatar */
.profile_avatar {
    position:fixed;
    top:50px;
    left:78.1%;
}

.hello_person {
    position:fixed;
    top:50px;
    left:860px;
}

/*Calculator*/

.Calculator {
    position:fixed;
    top:45.5%;
    left:58.5%;
    width:5.3%;
    height:11%;
    background-image:url("/img/calculator.png");
    background-size:100% 100%;
}
