﻿
@{
    ViewBag.Title = "Index";
    int FILENAME = 0;
    int FILEPATH = 1;
    List<String[]> files = (List<String[]>)ViewData["uploadedFiles"];
    bool loggedIn = (bool) ViewData["loggedIn"];
}

@if (loggedIn == true)
{
    <div class="manage_heading">
        <h2>MY ACCOUNT</h2>
    </div>

    <div class="profile_shit">
        <p> Hello there, @ViewData["name"] !</p>
    </div>

    foreach (var filePathPair in files)
    {
        <div class="profile_shit">
        <p> Filename is @Html.ActionLink(filePathPair[FILENAME], "Download", new { filepath = filePathPair[FILEPATH], filename = filePathPair[FILENAME] }) <br></p>
        </div>
    }
    
    <div class="manage_file_submission">
            @using (Html.BeginForm("Index", "Manage", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <form>
                    <input type="checkbox" name="tandc" value="agree" /> I agree to the @Html.ActionLink("terms and conditions", "TermsAndConditions", "Home", null, null)
                </form>
                <input type="file" name="FileUpload1" /><br />
                <input type="submit" name="Submit" id="Submit" value="Upload" />
            }

    </div>

}